html {
  position: relative;
	font-family: Consolas, monaco, monospace;
	scroll-behavior: smooth;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: BLACK;
	color: white;
	  position: relative;
	font-family: Consolas, monaco, monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	scroll-behavior: smooth;
}
#footer {
  position: absolute; 
  width: 100%;
  /* Set the fixed height of the footer here */
/*  height: 10px;*/
	color: black;
  background-color: DARKSLATEGRAY;
  scroll-behavior: smooth;
  
}


@-webkit-keyframes color_change {
	from { background-color: GREEN; }
	to { background-color: DARKSLATEGRAY; }
}
@-moz-keyframes color_change {
	from { background-color: GREEN; }
	to { background-color: DARKSLATEGRAY; }
}
@-ms-keyframes color_change {
	from { background-color: GREEN; }
	to { background-color: DARKSLATEGRAY; }
}
@-o-keyframes color_change {
	from { background-color: GREEN; }
	to { background-color: DARKSLATEGRAY; }
}
@keyframes color_change {
	from { background-color: GREEN; }
	to { background-color: DARKSLATEGRAY; }
}

input:focus {
    
    -webkit-animation: color_change 0.2s  alternate;
	-moz-animation: color_change 0.2s  alternate;
	-ms-animation: color_change 0.2s  alternate;
	-o-animation: color_change 0.2s  alternate;
	animation: color_change 0.2s  alternate;
}

input, select {
	 border: 1px solid #cccccc;
   border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   -khtml-border-radius: 3px;
   outline: none; 
   height: 25px; 
   width: auto; 
   color: #000000; 
   font-size: 12px; 
   font-family: Tahoma;
   font-weight: bold;
}


.gf {
	color: WHITE;
}

#timestamp {
	color: GOLDENROD;
}

#base {
	color: AZURE;
}

.column0 {
	color: Lime;
}

.column1 {
	color: LightGray  ;
}
.column2 {
	color: Lime;
}
.column3 {
	color: LightSlateGray ;
}
.column4 {
	color: LightSlateGray  ;
}
.column5 {
	color: LightSlateGray  ;
}

.column6 {
	color: Yellow;
}
.column7 {
	color: Lime;
}
.column8 {
	color: DarkGray;
}

.INFO {
	color: Lime ;
}



.FINEST {
	color: Lime ;
}
.FINER {
	color: Lime ;
}
.FINE {
	color: Lime ;
}
.CONFIG {
	color: Aqua;
}
.WARNING {
	color: Red;
}
.SEVERE {
	color: Red;
}



.footer2 {
	width: 100%;
	 height: 10px; 
}

.info {
	width: 100%;
	 height: 20px;
	   background-color: grey;
	color: white; 
}

.errorEmitter {
	font-size: 16px;
	color: red; 
}

.welcome {
	font-size: 16px;
	color: Lime     ; 
	
}

.error {
	font-size: 16px;
	color: red; 
}

.warn {
	font-size: 16px;
	color: Magenta ; 
}

.spec {
	
	color: Aqua  ; 
}

.quad {
	
	color: Turquoise     ; 
}

.assemblyname, .bpelname, .activyname {
	color: SpringGreen      ;
}

.checkbox label:before {
    border-radius: 3px;
}

/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
  vertical-align: top;
  margin: 2 4px 0 0;
  width: 26px;
  height: 24px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
  cursor: pointer;
}

#form {
	
	margin: 4px 4px 0 0;
}